
<div class="container">
  <div class="jumbotron p-4 p-md-5 bg-dark text-white rounded shadow">
    <div class="row">
      <div class="col-md-3 text-center"> 
        <p class="phone-info">615-394-9353</p>
      </div>
      <div class="col-md-3 text-center"> 
        <%= mail_to "brandongoodman615@gmail.com", "Email", class: "email-info", style: "text-decoration: none;color: #2c6ab0;", subject: "We want to hire you!", body: "You're exactly what we are looking for! When can you start?" %>
      </div>
      <div class="col-md-3 text-center"> 
        <a href="https://github.com/Brandongoodman615"><%= image_tag("githubwhite.png", class: "github-info", alt: "Responsive image") %></a>
      </div>
      <div class="col-md-3 text-center"> 
        <a href="https://www.linkedin.com/in/brandon-goodman-50a3b2161/"><%= image_tag("linkedin.png", class: "linkedin-info", alt: "Responsive image") %></a>
      </div>
    </div>
    <br /><br />
    <div class="row">
      <div class="col-md-8 intro_text">
        <h1 class="display-4 font-italic">Ruby on Rails Developer</h1>
        <p class="lead my-3">
          I’m looking for a position to learn and apply my skills as I grow with an organization. 
          With my experience employed at Storenvy and The Firehose Project bootcamp, 
          I’ve acquired a broad understanding of Ruby, Rails, Javascript, HTML, and CSS, with the ability 
          to create complex web applications. I’ve spent time building, debugging, and maintaining live web applications. 
          I’ve learned many skills that will help me thrive in a group environment using tools like Git/Github to commit, 
          test, and review code with others. I’ve spent extensive time learning from classic and modern self development books, 
          as well as many books in the programming field.
        </p>
      </div>
      <div class="col-md-4">
        <br />
        <%= image_tag("headshot.jpg", class: "img-fluid", alt: "Responsive image") %>
      </div>
    </div>
  </div>

  <section id="skills">
    <div class="jumbotron p-4 p-md-5 bg-white text-dark rounded shadow">
      <a class="back-to-top text-center" href="#top">Back to Top</a>
      <h1 class="section-header text-center">Skills</h1>
      <br />
      <div class="row h-100">
        <div class="col-md-2 offset-1 my-auto"><%= image_tag("rubylogo.png", id: "ruby-logo", class: "img-fluid", alt: "Responsive image") %></div>
        <div class="col-md-2 my-auto"><%= image_tag("railslogo.png", id: "rails-logo", class: "img-fluid", alt: "Responsive image") %></div>
        <div class="col-md-2 my-auto"><%= image_tag("htmlcssjslogo.png", id: "html-logo", class: "img-fluid", alt: "Responsive image") %></div>
        <div class="col-md-2 my-auto"><%= image_tag("githubblack.png", id: "github-logo", class: "img-fluid", alt: "Responsive image") %></div>
        <div class="col-md-2 my-auto"><%= image_tag("gitlogo.png", id: "git-logo", class: "img-fluid", alt: "Responsive image") %></div>
      </div>
      <div class="row h-100">
        <div class="col-md-3 text-center my-auto">
          <p class="lead my-3"><strong>Languages:</strong><br />Ruby<br />HTML<br />CSS<br />JavaScript<br />JQuery</p>
        </div>
        <div class="col-md-3 text-center my-auto">
          <p class="lead my-3"><strong>Frameworks:</strong><br />Ruby on Rails<br />Bootstrap</p>
        </div>
        <div class="col-md-3 text-center my-auto">
          <p class="lead my-3"><strong>Concepts:</strong><br />TDD<br />Agile</p>
        </div>
        <div class="col-md-3 text-center my-auto">
          <p class="lead my-3"><strong>Tools:</strong><br />Git/Github<br />Jira<br />Slack<br />CircleCi<br />Bugsnag</p>
        </div>
      </div>
      <div class="row h-100">
        <div class="col-md-2 offset-1 my-auto"><%= image_tag("jquery2logo.png", id: "jquery-logo", class: "img-fluid", alt: "Responsive image") %></div> 
        <div class="col-md-2 my-auto"><%= image_tag("jiralogo.png", id: "jira-logo", class: "img-fluid", alt: "Responsive image") %></div>
        <div class="col-md-2 my-auto"><%= image_tag("bootstraplogo.png", id: "bootstrap-logo", class: "img-fluid", alt: "Responsive image") %></div>
        <div class="col-md-2 my-auto"><%= image_tag("slacklogo.png", id: "slack-logo", class: "img-fluid", alt: "Responsive image") %></div>
        <div class="col-md-2 my-auto"><%= image_tag("circlecilogo.png", id: "circleci-logo", class: "img-fluid", alt: "Responsive image") %></div>
      </div>
    </div>
  </section>
  <br />

  <section id="projects">
    <h2 class="section-header">Projects</h2>
    <a class="back-to-top" href="#top">Back to Top</a>
    <br /><br />
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">Flixter</h3>
            <br />
            <p class="card-text mb-auto">A two sided video streaming marketplace platform, featuring credit card payment capabilities, user role management, complex user interfaces and advanced database relationships.</p>
            <a href="http://flixter-brandon-goodman.herokuapp.com/" class="stretched-link">Flixter Website</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <%= image_tag("flixter.png", width: "200", height:"250", class: "img-fluid", alt: "Responsive image") %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">Nomster</h3>
            <br />
            <p class="card-text mb-auto">A Yelp clone that integrates with Google Maps API and includes features like user comments, star ratings, image uploading, and user authentication.</p>
            <a href="http://nomster-brandon-goodman.herokuapp.com/" class="stretched-link">Nomster Website</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <%= image_tag("nomster.png", width: "200", height:"250", class: "img-fluid", alt: "Responsive image") %>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">Grammable</h3>
            <br />
            <p class="card-text mb-auto">An Instagram clone built with automated software test using a Test-driven development approach.</p>
            <a href="http://grammable-brandon-goodman.herokuapp.com/" class="stretched-link">Grammable Website</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <%= image_tag("grammable.png", width: "200", height:"250", class: "img-fluid", alt: "Responsive image") %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">ToDo</h3>
            <br />
            <p class="card-text mb-auto">An interactive To Do list app built with a fluid user interface through JavaScript.</p>
            <a href="http://todo-brandon-goodman.herokuapp.com/" class="stretched-link">ToDo Website</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <%= image_tag("todo.png", width: "200", height:"250", class: "img-fluid", alt: "Responsive image") %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<br />
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">

      <section id="references">
        <div class="border-bottom">
          <h2 class="section-header">LinkedIn Recommendations</h2>
          <a class="back-to-top" href="#top">Back to Top</a>
          <br /><br />
        </div>
        <%= image_tag("recommendations.png", class: "img-fluid", alt: "Responsive image") %>
      </section>
      <br /><br /><br />

      <section id="experience">
        <div class="border-bottom">
          <h2 class="section-header">Experience</h2>
          <a class="back-to-top" href="#top">Back to Top</a>
          <br /><br />
        </div>
        <div class="blog-post">
          <h3 class="blog-post-title">Junior Software Engineer, Storenvy at MoreCommerce</h3>
          <p class="blog-post-meta">Nashville, TN<br />Nov, 2018 - July, 2019</p>
          <p>
            As part of a small team at a large eCommerce platform my responsibilities were numerous. 
            Fixing bugs, building new features, writing Jira tickets, running the social media accounts, and even creating DOMO reports. 
            Within my first 6 months I built a social media blast request system using Rails, HTML, CSS, and JS/JQuery to help generate 
            subscriptions along with taking over the social media accounts to use the system I built for advertising merchant products using Hootsuite. 
            I regularly used Circle Ci for testing and Bugsnag for error reporting. 
          </p>
          <hr>
          <h3 class="blog-post-title">Lead Low Voltage Technician, Symspire</h3>
          <p class="blog-post-meta">Nashville, TN<br />Apr, 2005 - Nov, 2018</p>
          <p>
            Smart Home Technologies. Setting up wired and wireless networking, full house audio, and 
            entertainment rooms. Customer service and trouble shooting. Management and training of 
            new employees. Organization, inventory, and maintenance of a company vehicle. 
          </p>
          <hr>
        </div>
      </section>
      <br /><br />

      <section id="education">
        <div class="border-bottom">
          <h2 class="section-header">Education</h2>
          <a class="back-to-top" href="#top">Back to Top</a>
          <br /><br />
        </div>
        <div class="blog-post">
          <h3 class="blog-post-title">The Firehose Project</h3>
          <p class="blog-post-meta">Graduated - 2018</p>
          <hr>
          <h3 class="blog-post-title">Beech High School</h3>
          <p class="blog-post-meta">Graduated - 2003</p>
          <hr>
        </div>
      </section>
      <br /><br />

      <section id="books">
        <div class="border-bottom">
          <h2 class="section-header">Books</h2>
          <a class="back-to-top" href="#top">Back to Top</a>
          <br /><br />
        </div>
        <div class="blog-post">
          <p class="blog-post-meta">
            I know... this seems like an odd section to have on a business related site. 
            I feel this particular section is a great way to show my interests and reveal 
            a great deal about my character, as well as my mentality. This is a very consolidated list 
            of books that I feel have made an immense impact on the person I am today. 
            If you have been as fortunate as I have to come across these particular books, 
            then perhaps you will understand my desire to add these.
          </p>
          <hr>
          <h3 class="blog-post-title">Personal Development</h3>
          <p class="blog-post-meta">The 7 Habits of Highly Effective People<br />By Stephen R. Covey</p>
          <p class="blog-post-meta">The Obstacle Is the Way: The Timeless Art of Turning Trials Into Triumphs<br />By Ryan Holiday</p>
          <p class="blog-post-meta">Meditations of Marcus Aurelius<br />By Marcus Aurelius</p>
          <p class="blog-post-meta">Grit: The Power of Passion and Perseverance<br />By Angela Duckworth</p>
          <hr>
          <h3 class="blog-post-title">Professional Development</h3>
          <p class="blog-post-meta">Algorithms to Live By: The Computer Science of Human Decisions<br />By Brian Christian and Tom Griffiths</p>
          <p class="blog-post-meta">Actionable Gamification: Beyond Points, Badges, and Leaderboards<br />By Yu-kai Chou</p>
          <p class="blog-post-meta">Soft Skills: The Software Developer’s Life Manual<br />By John Sonmez</p>
          <p class="blog-post-meta">The Complete Software Developer’s Career Guide<br />By John Sonmez</p>
          <hr>
        </div>
      </div>
    </section>
    
    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h2 class="pb-4 mb-4 border-bottom">References</h2>
        <h4 class="font-italic">William Bridges</h4>
        <p class="mb-0">
          615-944-8853<br />
          CEO of AdvocateWare LLC<br />
          Former Director of Engineering, Storenvy at MoreCommerce<br />
          <%= mail_to "wllliambridges@gmail.com" %><br />
        </p>
        <hr>
        <h4 class="font-italic">Jonathan H. Wage</h4>
        <p class="mb-0">
          615-513-9185<br />
          Doctrine Maintainer<br />
          Former CTO, OpenSky Inc. at MoreCommerce<br />
          <%= mail_to "jonwage@gmail.com" %>
        </p>
        <hr>
        <h4 class="font-italic">Jonathon Suggs</h4>
        <p class="mb-0">
          256-874-2425<br />
          Former Director of Technology, OpenSky Inc. at MoreCommerce<br />
          <%= mail_to "jsuggs@gmail.com" %>
        </p>
        <hr>
        <h4 class="font-italic">Dwane Emanuelson</h4>
        <p class="mb-0">
          615-533-1663<br />
          President of Operations, Symspire<br />
          <%= mail_to "demanuelson@symspire.com" %>
        </p>
        <hr>
        <h4 class="font-italic">Ilya Krasnov</h4>
        <p class="mb-0">
          +49 (0) 176 313 416 16<br />
          Software Engineer<br />
          Group Team Lead, The Firehose Project<br />
          <%= mail_to "ilya.krasnov@gmail.com" %>
        </p>
      </div>
    </aside>

  </div>

</main>
