<!DOCTYPE html>
<html>
  <head>
    <title>BrandonGoodman615</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('rubylogo.png') %>
  </head>

  <header class="blog-header py-3 shadow">
    <div class="text-center container">
        <p class="blog-header-logo text-dark text-center">
          <%= image_tag("rubylogo.png", class: "header-logo img-fluid", alt: "Responsive image") %>
          <%= mail_to "brandongoodman615@gmail.com", "BrandonGoodman615", subject: "We want to hire you!", body: "You're exactly what we are looking for! When can you start?", class: "text-dark mail-header" %>
          <%= image_tag("rubylogo2.png", class: "header-logo img-fluid", alt: "Responsive image") %>
        </p>
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="https://github.com/Brandongoodman615">GitHub</a>
        <a class="p-2 text-muted" href="https://www.linkedin.com/in/brandon-goodman-50a3b2161/">LinkedIn</a>
        <a class="p-2 text-muted" href="#">Technology</a>
        <a class="p-2 text-muted" href="#">Design</a>
        <a class="p-2 text-muted" href="#">Culture</a>
      </nav>
    </div>
  </header>

  <body>
    <div id="content">
      <%= yield %>
    </div>
  </body>

  <%# <footer>
    <div class="text-center">
      <p style="margin:5px 0 0 0;">Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p style="margin:0;"><a href="#">Back to top</a></p>
    </div>
  </footer> %>

</html>
