<!DOCTYPE html>
<html>
  <head>
    <title>BrandonGoodman615</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('rubylogo.png') %>
  </head>

  <header class="blog-header py-3">
    <div class="text-center container">
      <p class="blog-header-logo text-dark text-center" style="margin-bottom:-12px;">BrandonGoodman615</p>
      <nav class="nav d-flex justify-content-between" style="margin: 0 100px;">
        <a class="p-2 text-muted" href="#">World</a>
        <a class="p-2 text-muted" href="#">U.S.</a>
        <a class="p-2 text-muted" href="#">Technology</a>
        <a class="p-2 text-muted" href="#">Design</a>
        <a class="p-2 text-muted" href="#">Culture</a>
      </nav>
    </div>
  </header>

  <body>
    <div id="content">
      <%= yield %>
    </div>
  </body>

  <footer>
    <div class="text-center">
      <p style="margin:5px 0 0 0;">Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p style="margin:0;"><a href="#">Back to top</a></p>
    </div>
  </footer>

</html>
